html{
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
    background-color: #A19385
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: #D2DED5;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #A19385;
    text-shadow: 3px 3px 1px black;
}

h2{
   font-size: 20px;
   color: darkseagreen; 
}

p, li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img{
    display: block;
    margin: 0 auto;
    width: 400px;
}